{% from "../partials/icon.njk" import icon %}

<footer>
  <div class="container">
    <div class="brand">
        <a class="js-home-link" href="/">{{ icon("ms-bug") }}</a>
      </div>
    <p class="copyright">
      © 2022 - Build with Metalsmith
    </p>
  </div>
  <a class="to-top" href="#at-top">{{ icon("arrow-up-circle") }}</a>
</footer>