#main-menu {
  padding: 20px;
  background-color: rgba(255,255,255,0.7);

  @media (max-width: 1440px) {
    margin-right: -40px;
  }
  
  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0;

    li {
      display: flex;
      justify-content: flex-start;
      padding: 0 1em; 
    }

    a {
      text-decoration: none;
      display: block;
      font-size: 16px;
      font-weight: 500;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/* active nav links */
.home .home,
.other-page .other-page,
.blog .blog {
  color: #ccc;
  pointer-events: none;
  cursor: default;
}